<?
require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");
$APPLICATION->SetTitle("верстка");
?>
<div class="content-center">
  <!-- Фильтры -->
  <div class="swiper-filters">
    <div class="swiper swiper-filters__slider js-swiper-filters">
      <div class="swiper-filters__wrap swiper-wrapper">
        <!-- active для активного -->
        <div class="swiper-slide swiper-filters__slide active">
          <div class="swiper-filters__item">
            <!-- ссылку сюда -->
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">РОДСТЕР</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-1.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-1-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ФУРГОН</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-2.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-2-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ЛИМУЗИН</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-3.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-3-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">УНИВЕРСАЛ 5ДВ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-4.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-4-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">КАБРИОЛЕТ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-5.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-5-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ХЭТЧБЭК 3 ДВ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-6.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-6-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ВНЕДОРОЖНИК ОТКРЫТЫЙ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-7.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-7-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ТРАНСПАРТЕР</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-8.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-8-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ФАСТБЕК</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-9.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-9-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">СПИДСТЕР</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-10.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-10-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">СЕДАН</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-11.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-11-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">КОМПАКТВЭН</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-12.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-12-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ХЭТЧБЭК 5 ДВ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-13.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-13-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ВНЕДОРОЖНИК 3 ДВ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-14.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-14-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">МИКРОАВТОБУС</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-15.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-15-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">МИНИВЕН</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-16.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-16-hov.svg" alt="">
            </div>
          </div>


        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ЛИФТБЕК</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-17.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-17-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ФАЭТОН</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-18.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-18-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">КУПЕ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-19.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-19-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">КУПЕ-ХАРДТОП</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-20.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-20-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ПИКАП ДВОЙНАЯ КАБИНА</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-21.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-21-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">АВТОБУС</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-22.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-22-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ПИКАП ПОЛУТОРНАЯ КАБИНА</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-23.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-23-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ФУРГОН</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-24.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-24-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">МИКРОВЭН</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-25.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-25-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ПИКАП ОДИНАРНАЯ КАБИНА</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-26.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-26-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">ВНЕДОРОЖНИК 5 ДВ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-27.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-27-hov.svg" alt="">
            </div>
          </div>

        </div>
        <div class="swiper-slide swiper-filters__slide">
          <div class="swiper-filters__item">
            <a href="#" class="swiper-filters__link">&nbsp;</a>
            <div class="swiper-filters__title">САМОСВАЛ</div>
            <div class="swiper-filters__img">
              <img src="https://porogich.ru/images/filter-car-28.svg" alt="">
            </div>
            <div class="swiper-filters__img-hov">
              <img src="https://porogich.ru/images/filter-car-27-hov.svg" alt="">
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="swiper-scrollbar swiper-filters__scrollbar js-swiper-filters__scrollbar"></div>
    <div class="swiper-filters__nav">
      <div class="swiper-filters__prev js-swiper-filters__prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
          <rect x="5.08008" y="0.833984" width="1.60286" height="6.47978" rx="0.801432"
            transform="rotate(45 5.08008 0.833984)" fill="black" />
          <rect x="6.20703" y="8.87695" width="1.58807" height="6.48317" rx="0.794037"
            transform="rotate(135 6.20703 8.87695)" fill="black" />
        </svg>
      </div>
      <div class="swiper-filters__next js-swiper-filters__next">
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
          <rect x="1.63281" y="10" width="1.60286" height="6.47978" rx="0.801432" transform="rotate(-135 1.63281 10)"
            fill="black" />
          <rect x="0.505859" y="1.95703" width="1.58807" height="6.48317" rx="0.794037"
            transform="rotate(-45 0.505859 1.95703)" fill="black" />
        </svg>
      </div>
    </div>

  </div>
  <!-- .Фильтры -->
  <div class="products">
    <!-- класс favourite если в избранном -->
    <div class="product favourite">
      <a href="#" class="product__img">
        <img src="./img/product.jpg" alt="" />
        <!--стикеры-->
        <div class="product__sticks sticks">
          <div class="stick product__stick--recomend">Рекомендуем</div>
          <div class="stick stick--hit">Топ</div>
        </div>
        <!--/стикеры-->
      </a>
      <a href="#" class="product__like">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M19.1035 4.22555C18.1579 3.27955 16.8752 2.74805 15.5376 2.74805C14.2001 2.74805 12.9173 3.27955 11.9718 4.22555L11.0001 5.19722L10.0285 4.22555C8.0591 2.2562 4.86614 2.2562 2.89679 4.22555C0.92743 6.19491 0.92743 9.38786 2.89679 11.3572L3.86845 12.3289L11.0001 19.4606L18.1318 12.3289L19.1035 11.3572C20.0495 10.4117 20.581 9.12893 20.581 7.79139C20.581 6.45384 20.0495 5.17112 19.1035 4.22555Z"
            stroke="white" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
      <div class="product__content">
        <div class="product__star">
          <img src="./img/icons/star-full.svg" alt="" />
          <img src="./img/icons/star-empty.svg" alt="" />
          <img src="./img/icons/star-empty.svg" alt="" />
          <img src="./img/icons/star-empty.svg" alt="" />
          <img src="./img/icons/star-empty.svg" alt="" />
        </div>
        <div class="product__titleblock">
          <a href="#" class="product__title">
            Ремонтный порог Ford Focus 2 левый </a>
          <div class="product__infoblock">
            <div class="product__info">
              <img src="./img/icons/info.svg" alt="">
            </div>
            <div class="product__infoplash">
              информация информация информация информация <a href="#">ссылка</a>
            </div>
          </div>
        </div>

        <div class="product__characters">
          <div class="product__character">
            <div class="product__character-name">Толщина</div>
            <div class="product__character-val">1,5 мм</div>
          </div>
          <div class="product__character">
            <div class="product__character-name">Материал</div>
            <div class="product__character-val">Холоднокатаная сталь</div>
            <div class="product__infoblock">
              <div class="product__info">
                <img src="./img/icons/info.svg" alt="">
              </div>
              <div class="product__infoplash">
                информация информация информация информация <a href="#">ссылка</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product__price">Цена: 590 р.</div>
        <div class="product__btn btn btn-white">Купить</div>
      </div>
    </div>
  </div>
</div>


<?require($_SERVER["DOCUMENT_ROOT"]."/bitrix/footer.php");?>